{% extends 'partials/base.html' %}
{% block custom_style %}
<style>
    img {
        border: 2px solid #C0C0C0;
        padding: 5px;
    }
</style>
{% endblock %}
{% block title %}Products Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body shadow p-3 mb-5 bg-white rounded justify-content-center">
            <h5>Add New Asset</h5>
            <hr>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-8 ">
        <table class="table bg-white shadow p-3 mb-5 bg-white rounded justify-content-center">
            <thead class="bg-info text-white">
                <tr>
                    <th scope='col'>Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Name</th>
                    <th scope="col">Serial No</th>
                    <th scope="col">Inventory No</th>
                    <th scope="col">Purchased At</th>
                    <th scope="col">Current Holder</th>
                    <th scope="col">Is Avaiable </th>
                    <th scope="col">View Details</th>
                </tr>
            </thead>
            <tbody>
                {% for a in assets %}
                <tr>
                    <td> {{ a.brand.name }}</td>
                    <td>{{ a.model }}</td>
                    <td>{{ a.name }}</td>
                    <td>{{ a.serial_no }}</td>
                    <td>{{ a.inventory_no }}</td>
                    <td>{{ a.purchased_at }}</td>
                    <td>{{ a.current_holder }}</td>
                    <td>
                        {% if a.is_available %}
                            <span class="badge badge-success text-white"> Yes</span>
                        {%else%}
                            <span class="badge badge-danger text-white"> No </span> 
                        {%endif%}   
                    </td>
                   
                    <td>
                        <a class="btn btn-info btn-sm ml-2"
                            href="{% url 'asset-update' a.pk %}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination justify-content-center">
            <span class="step-links">
              {% if page_obj.has_previous %}
              <a href="" data-id="{{ page_obj.previous_page_number }}"><b>Prev</b></a>
              {% endif %}
              <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}
              </span>
    
              {% if page_obj.has_next %}
              <a href="" data-id="{{ page_obj.next_page_number }}"><b>Next</b></a>
              {% endif %}
            </span>
        </div>
    </div>
    
{% endblock %}

{% block custom_script %}
  <script>
    $(function () {
      $("#datetimepicker1").datepicker();
    });
  </script>
{% endblock %}